body {
	font-family: sans-serif;
	padding: 1em 3em;
	background-color: #fff;
}

main {
	display: block;
	border: 3px solid #434141;
	padding: 30px auto;
}

header {
	border: 5px double #000;
	border-radius: 5px;
    padding: 50px auto;
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
}

h1, h2 {
	display: block;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
	width: 70%;
	text-transform: uppercase;
	color: #434141;
	margin: 15px auto;
	text-align: center;
}

img {
	display: block;
	width: 60%;
	max-width: 300px;
	margin: 2rem auto;
}

#btn {
	display: block;
	scale: 1.5;
	margin: 30px;
	background-color: red;
}

#text {
	display: block;
	width: 80px;
	font-size: 1.5em;
	border: 1px solid #000;
	text-align: center;
	margin-bottom: 30px;
}

#btn, #text {
	text-transform: uppercase;
	margin: 40px auto;
	padding: 10px;
	font-weight: bolder;
}





