:root {
   --pink: #c896b2;
   --white: #fff;
   --grey: #434141;
   --font-feature-settings:  'Indie Flower', cursive;;
}

body {
	font-family: sans-serif;
	padding: 1em 3em;
	background-color: #000;
}

main {
	display: block;
	border-top: 3px solid var(--grey);
	
}

header {
	display: block;
	max-width: 600px;
	border-bottom: 1px solid var(--pink);
	border-radius: 20px;
    padding: 50px auto;
	margin: 0 auto 10px;
	text-align: center;
	color: var(--white);
}

h1 {
	display: block;
    font-family: var(--font-feature-settings);
	font-size: 1.6em;
	width: 95%;
	max-width: 550px;
	color: var(--pink);
	margin: 15px auto;
	text-align: center;
}

img {
	display: block;
	width: 90%;
	max-width: 400px;
	margin: 2rem auto;
	box-shadow: 0px 0px 15px var(--pink);
}

#btn {
	display: block;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	scale: 1.2;
	text-transform: uppercase;
	border: 2px solid;
	border-radius: 10px;
	border-color: var(--pink);
}

#text {
	display: block;
	font-family: var(--font-feature-settings);
	color: var(--pink);
	max-width: 400px;
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 0.1em;
}

#btn, #text {
	margin: 30px auto 10px;
	padding: 5px 10px;
	font-weight: bolder;
}





